<nav class="navbar navbar-expand-lg bg-body-light sticky-top border-bottom">
  <div class="container">
    <a class="navbar-brand navbar-brand-desktop" href="/listings">
      <img src="/images/logo.svg" alt="Bootstrap" width="45" height="39" />
    </a>
    <div class="d-flex mobile-navbar">
      <a class="navbar-brand" href="/listings">
        <img src="/images/logo.svg" alt="Bootstrap" width="47" height="41" />
      </a>
      <form class="mobile-search-form" role="search" method="GET" action="/listings">
        <input value="<%= searchCountry %>" class="mobile-search-input form-control me-3" name="country" type="search"
          placeholder="Country-Specific Search" />
        <button class="mobile-search-btn btn btn-outline-success" type="submit"><i
            class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link navbar-link" href="/listings">Explore</a>
        <a class="nav-link navbar-link" href="/listings/new">Add new Listings</a>
      </div>


      <div class="search ms-auto navbar-nav">
        <form class="search-form d-flex" role="search" method="GET" action="/listings">
          <input value="<%= searchCountry %>" class="search-input form-control me-3" name="country" type="search"
            placeholder="Country-Specific Search" />
          <button class="search-btn btn btn-outline-success" type="submit"
            style="padding: 0.4rem 1.2rem !important;">Search</button>
        </form>
      </div>


      <div class="navbar-nav ms-auto">
        <% if (!currUser) { %>
          <a class="nav-link navbar-link active" aria-current="page" href="/signup">Sign Up</a>
          <a class="nav-link" id="login" href="/login">Log in</a>
          <% } else { %>
            <a class="nav-link navbar-link" href="/logout">logout</a>
            <% } %>
      </div>
    </div>
  </div>
</nav>