<% layout("/layouts/boilerplate") -%>

        <div class="row mb-5">
            <div class="col-8 offset-2">
                <h1 style="margin: 1.5rem 0;">Create a New Listing</h1>
                <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-lable">Title</label>
                        <input required type="text" name="listing[title]" id="title" class="form-control"
                            placeholder="Enter title" />
                        <div class="valid-feedback">title looks good!</div>
                        <div class="invalid-feedback">please enter title</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-lable">Description</label>
                        <textarea required name="listing[description]" id="description" class="form-control"
                            placeholder="Enter description"></textarea>
                        <div class="invalid-feedback">please enter description</div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-lable">Image</label>
                        <input name="listing[image]" type="file" id="image" class="form-control"
                            placeholder="Enter Image URL" />
                    </div>

                    <div class="mb-3">
                        <label for="price" class="form-lable">Price</label>
                        <input required type="number" name="listing[price]" id="price" class="form-control"
                            placeholder="Enter price" />
                        <div class="invalid-feedback">please enter a valid price</div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="location" class="form-lable">Location</label>
                            <input required type="text" name="listing[location]" id="location" class="form-control"
                                placeholder="Enter location" />
                            <div class="invalid-feedback">please enter location</div>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="country" class="form-lable">Country</label>
                            <input required type="text" name="listing[country]" id="country" class="form-control"
                                placeholder="Enter country" />
                        <div class="invalid-feedback">please enter country</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark">Add New Listing</button>
                </form>
            </div>
        </div>
