/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animations for people who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes  */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
  flex: 1;
}

/* screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Navbar */

.navbar {
  min-height: 4.5rem;
  height: auto;
  background-color: #fff;
}

.navbar-nav {
  gap: 0.7rem;
}

.navbar-link {
  color: black !important;
  border-radius: 20px;
  padding: 0.6rem 0.8rem !important;
  line-height: 1.2;
  display: inline-block;
  text-align: center;
}

.navbar-link:hover {
  background-color: #f7f7f7;
}

#login {
  background-color: #ff385c;
  color: #fff !important;
  border-radius: 20px;
  padding: 0.6rem 1.2rem !important;
  margin-left: 0.4rem !important;
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  line-height: 1.2;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

#login:hover {
  background-color: #fff;
  color: #ff385c !important;
  border: 1px solid #ff385c;
}

.search {
  width: 50%;
}

.search-form {
  width: 100%;
}

.search-input {
  border-radius: 20px;
}

.search-btn {
  border-radius: 20px;
  padding: 0.6rem 1.2rem !important;
  background-color: #ff385c !important;
}

.mobile-navbar {
  width: 100%;
  display: none !important;
}

.mobile-search-form {
  width: 100%;
  display: none !important;
}

.mobile-search-btn {
  border-radius: 50%;
  padding: 5px 8px;
}

@media (max-width: 61.96875rem) {
  #login {
    background-color: #fff;
    color: #000 !important;
    border-radius: 0;
    padding: 0 !important;
    margin-bottom: 0.8rem !important;
    display: inline-block;
    text-align: start;
    margin-left: 0 !important;
  }

  .navbar-nav * {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .navbar-link {
    padding: 0 !important;
    text-align: start;
  }

  .search {
    display: none;
  }

  .mobile-navbar {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
  }

  .mobile-search-form {
    display: flex !important;
    margin-right: 24px;
  }

  .navbar-brand-desktop {
    display: none !important;
  }

  .tax-toggle {
    display: none !important;
  }

  .carousel-container {
    width: 100% !important;
  }
}

/* filters bar */

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.scroll-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  padding-inline: 40px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.filter {
  text-align: center;
  opacity: 0.7;
  transition:
    opacity 0.3s ease,
    border-bottom 0.4s ease;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.filter:hover {
  opacity: 1;
  border-bottom: 2px solid black;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
}

.arrow-btn {
  position: absolute;
  z-index: 10;
  background-color: #fff;
  color: black;
  border: none;
  cursor: pointer;
  padding: 20px 10px;
  transition: background-color 0.5 ease;
}

.arrow-btn:hover {
  background-color: #f7f7f7;
}

.left-btn {
  left: 0;
}

.right-btn {
  right: 0;
}

.tax-toggle {
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1rem;
  padding: 1.2rem 1.4rem;
}

.tax-toggle .form-check-input {
  margin: 0;
  position: relative;
}

.tax-toggle .form-check-label {
  margin: 0;
  line-height: 1;
}

.tax-toggle .form-check-input {
  background-color: #fff;
  border-color: #000;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000'/%3e%3c/svg%3e");
}

.tax-toggle .form-check-input:checked {
  background-color: #000;
  border-color: #000;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.tax-toggle .form-check-input:focus {
  border-color: #000;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

/* Custom CSS to target your specific class */
.tax-toggle .form-check-input {
  width: 3rem;
  height: 1.5rem;
}

/* Optional: Increase label font size to match */
.tax-toggle .form-check-label {
  font-size: 1rem;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.tax-info {
  display: none;
}

/* Footer */

.f-info {
  display: flex;
  height: 8rem;
  background-color: #f7f7f7;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 0.1rem;
  padding: 0.6rem;
}

.f-info-links,
.f-info-socials {
  width: 100%;
}

.f-info-socials i {
  margin-right: 1.5rem;
  font-size: 1.2rem;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

/* listing card */

.listing-link {
  text-decoration: none;
  color: #222222;
}

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.listing-card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.listing-card-body {
  padding: 0.3rem !important;
}

.listing-card-text p {
  font-weight: 400 !important;
}

/* card effects */

.listing-card-img-overlay {
  opacity: 0 !important;
}

.listing-card-img-overlay:hover {
  opacity: 0.1 !important;
  background-color: #fff !important;
}

/* new page */
.btn {
  background-color: #ff385c;
  color: #fff;
  border: none;
  border: 1px solid transparent !important;
}

.btn:hover {
  border: 1px solid #ff385c !important;
  background-color: #fff !important;
  color: #ff385c !important;
}

/* show page */

.show-img {
  height: 45vh;
  border-radius: 0.6rem !important;
  object-fit: cover !important;
}

@media (max-width: 770px) {
  .show-img {
    height: 60vh;
  }
}

.show-title {
  margin: 0.4rem 0 0.4rem 0;
}

.show-card-body > * {
  margin-top: 0.6rem;
}

.delete-btn {
  background-color: #222222;
}

.delete-btn:hover {
  border: 1px solid #222222 !important;
  color: #222222 !important;
}

.btn-equal {
  width: 40% !important;
  margin-top: -2px;
}

@media (max-width: 770px) {
  .btn-equal {
    width: 100% !important;
  }
}

.rating-del-btn {
  position: absolute;
  right: 0.65rem;
  top: 0.65rem;
  font-size: 0.75rem;
  cursor: pointer;
  transition: scale 0.3s ease;
  border: none;
  background-color: #fff;
}

.rating-del-btn:hover {
  scale: 1.12;
  color: red;
}

.my-6 {
  margin-top: 4.5rem !important;
  margin-bottom: 4.5rem !important;
}

.form-body {
  border: 1px solid gainsboro;
  border-radius: 0.5rem;
  padding: 2rem !important;
}

/* map section */

#map {
  width: 100%;
  height: 70vh;
  border-radius: 5px;
}

@media (max-width: 770px) {
  #map {
    height: 40vh !important;
    width: 100%;
  }
}
